table {
	background-color: white;
	margin:auto;
}


h1 {
	margin:auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

.y{background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;

}
